@font-face {
  font-family: aller;
  src: url(./Aller/Aller_Lt.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aller;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main{
width: 100%;
position: relative;
overflow: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
.page {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  position: relative;
  overflow: hidden;
}
.page:nth-child(2) {
  background-color: #b71226;
}

.sec {
  width: 45%;
  height: 100vh;

  position: relative;
  background-color: #b71226;
}
.sec:nth-child(2) {
  background-color: white;
}
.sec:nth-child(1) {
  display: flex;
  flex-direction: column;

  background-color: #b71226;
  width: 55%;
}
.box {
  width: 100%;
  height: 80%;
  background-color: #b71226;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 6vw 0 0vw;
  border: 1px solid #b71226;
}
.box:nth-last-child(1) {
  height: 100%;
}
.box .cir {
  height: 30vw;
  width: 40vw;

  position: relative;
  overflow: hidden;
}
.cir img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.box:nth-child(1) img{
  position: relative;
  z-index: 99;
}

.h1 {
  position: absolute;
  top: 5%;
  font-size: 2vw;
  font-weight: 100;
  width: 80%;
  height: 5rem;
  overflow: hidden;
  left: 10%;
}
.h1 h1 {
  font-weight: 100;
 
}
.h1 h1:nth-child(1) {
  opacity: 1;
}
.p {
  position: absolute;
  top: 10rem;
  width: 100%;
  height: 3.7rem;

  left: 10%;
  position: relative;
  overflow: hidden;
}
.p p {
  font-size: 1rem;
}
.p2 {
  position: absolute;
  top: 11rem;
  width: 100%;
  height: 4rem;
  position: relative;
  overflow: hidden;
  left: 10%;
}
.p2 p {
  font-size: 1rem;
 
}
.p2 p:nth-child(1) {
  opacity: 1;
}
.p p {
    font-size: 1rem;

  }
  .p p:nth-child(1) {
    opacity: 1;
  }
.button {
  position: absolute;
  top: 12rem;
  width: 100%;
  height: 5rem;
  left: 8%;
  position: relative;
  overflow: hidden;
}
button {
  padding: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
button i {
  color: #b71226;
  font-size: 1.5rem;
}

#page2{
    display: flex;
}
#page3{
    display: none;
}
#layer{
  width: 100%;
  height: 40rem;
  position: absolute;
  transform: rotate(180deg);
  top: 25%;
  left: -40%;
  /* opacity: .9; */
}
#layer img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width:500px) {
    .page:nth-child(1){
        height: 55rem;
    }
    #page2{
        display: none;
    }
    #page3{
        min-height: 50rem;
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .mbox{
        width: 100%;
        height: 20rem;
        background-color:#b71226;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .msec{
        width: 100%;
        height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 3rem;
        gap: 1rem;
      
    }
.mbox img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.msec h1{
    font-size: 2rem;
}
.msec p{
    font-size: 1rem;
}
.msec button{
    font-size: 1rem;
    text-align: left;
    padding: 0 0;

}
}


